.tree-selector {
    grid-area: menu;
    text-align: left;
    min-height: 0;  /* NEW */
    min-width: 0;   /* NEW; needed for Firefox */
    overflow: hidden;
}

input {
    max-width:100%;
}

.selector-list {
    margin-bottom: 10px;
}

.manufacturer-title {
    font-weight: bold;
    padding: 10px;
}

.manufacturer-list {
    margin-left: 20px;
    padding-bottom: 2px;
}

.series-list {
    margin-left: 20px;
    padding-bottom: 2px;
}

.phone-list-item {
    margin-left: 20px;
}

.memory-title {
    font-weight: bold;
    padding: 10px;
}

.memory-list {
    margin-left: 20px;
    padding-bottom: 2px;
}

.memory-sizes {
    margin-bottom: 10px;
}

.sim-title {
    font-weight: bold;
    padding: 10px;
}

.sim-list {
    margin-left: 20px;
    padding-bottom: 2px;
}

