.phone-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.home-page{
    grid-area: main;
    display: grid;
    grid-template-columns: 10% auto;
    grid-template-areas: "menu main"
                         "menu main"
                         "menu paginator";

    grid-gap: 10px;
    padding: 10px;
}

.paginator-container {
    grid-area: paginator;
    display: block;
}
