.phone-page {
    margin: 20px;
}

.phone-details {
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-areas: "image description";
    grid-gap: 30px;
}

.image {
    grid-area: image;
}

.image img {
    max-width:100%;
    max-height:100%;
}

.description {
    grid-area: description;
}

.description div {
    text-align: justify;
}
