.paginator {
    display: inline-flex;
}

.paginator button {
    border: 0px;
    background: white;
}

.paginator button:hover:not([disabled]) {
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.paginator button:disabled {
    color: #88888459;
}

.previous-buttons {
    margin-right: 10px;
}

.next-buttons {
    margin-left: 10px;
}

.page-number-container {
    display: inherit;
}

.page-number-input {
    width: 14px;
    margin-right: 2px;
}

.page-size-selector-container {
    margin-left: 10px;
}

select {
    margin-left: 5px;
    border: 0px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-width: thin;
}
