.phone-item {
    padding: 10px 30px;
    width: 250px;
    height: 380px;
    margin: 10px;
    box-shadow: 3px 3px #88888459;
    border: solid 1px #88888459;
    border-radius: 10px;
}

.phone-item > img {
    height: 200px;
}

.phone-button {
    border-radius: 3px;
    color: #fff;
    background-color: #5ac435;
    border-color: #5ac435;
    padding: 5px 20px;
}
