.app {
    text-align: center;
    grid-template-columns: 3.7rem auto;
    grid-template-rows: 40px auto;
    grid-template-areas: "header"
                          "main";
    grid-gap: 10px;
    padding: 10px;
}

.app-header {
    background-color: #19aaf8;
    font-family: sans-serif,arial;
    font-size: calc(10px + 2vmin);
    color: white;
    grid-area: header;
    padding-top: 10px;
}
